<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Feature Service (WFS)</name>
    <version>
      <name>1.1.0</name>
      <suite>
        <namespace-uri>http://www.occamlab.com/ctl</namespace-uri>
        <prefix>ctl</prefix>
        <local-name>wfs-1.1.0-compliance-suite</local-name>
        <title>WFS 1.1.0 Conformance Test Suite</title>
        <description>Checks WFS implementations for conformance to OGC 04-094.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>wfs/${spec-version}/ctl</source>
        </sources>
        <resources>wfs/${spec-version}/resources</resources>
        <webdir>wfs/${spec-version}/site</webdir>
        <profile>
          <namespace-uri>http://www.opengis.net/wfs</namespace-uri>
          <prefix>wfs</prefix>
          <local-name>basic</local-name>
          <title>Basic</title>
        </profile>
      </revision>
    </version>
  </standard>
</organization>
